<h3>inside visitor_cart_contents partial</h3>

<table>
  <% if list.any? %>
    <% list.each do |prod_id, num| %>
      <tr>
        <td> <%= .product.name %> </td>
        <td> <%= row.product.category %></td>
        <td> <%= number_to_currency(row.product.price) %> </td>

        <td> <%= row.label :quantity %>
              <%= row.text_field :quantity, value: row.quantity %>
        </td>

         <td> Total Price: <%= number_to_currency(row.value) %> </td>

          <td> <%= row.label :_destroy,"Remove Item" %>
            <%= row.check_box :_destroy %> </td>
       </tr>
    <% end %>

    <%= submit_tag "Update Order Contents" %>
  <% end %>

</table>